* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --body-background-color: #23263a;
  --red-color: #ff4a57;
}
body {
  background-color: var(--body-background-color);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding-top: 40px;

  display: flex;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.containar {
  margin-left: 10%;
  margin-right: 10%;
}
header .logo {
  flex-grow: 1;
}
header .logo p {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
header .logo p span {
  color: var(--red-color);
}
header ul {
  list-style: none;
  display: flex;
  float: right;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-right: 15px;
}
header ul li a:hover {
  color: var(--red-color);
}
.bar i {
  display: none;
}
@media (max-width: 767px) {
  header ul {
    display: none;
  }
  .bar i {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 23px;
    margin-top: 7px;
  }
}
/* Start main */
main {
  color: white;
  padding-top: 11%;
}
.welcome {
  line-height: 1.6;
  font-weight: 700;
}
.welcome h2 {
  font-size: 45px;
}
@media (max-width: 767px) {
  /* main {
    text-align: center;
  } */
  .welcome h2 {
    font-size: 25px;
  }
  .welcome p {
    font-size: 15px;
  }
}
main p {
  width: 350px;
  line-height: 1.6;
  color: gray;
}
main a {
  margin-top: 32px;
  text-decoration: none;
  color: white;
  background-color: var(--red-color);
  padding: 10px 14px;
  display: inline-block;
}
main a:hover {
  background-color: #f27d85;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page div::before {
  content: "";
  border: 2px solid var(--red-color);
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  margin-bottom: 66px;
}
.page {
  position: relative;
}
.page div:not(:last-child)::after {
  content: "";
  background-color: white;
  width: 1px;
  height: 54px;
  position: absolute;
  /* top: 28px; */
  padding: 0px;
  margin-top: -59px;
  margin-left: 11px;
}
.page .foucs::before {
  content: "";
  background-color: var(--red-color);
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  margin-bottom: 66px;
}
/* End main */
.skill {
  padding-top: 20%;
}
.title {
  color: white;
}
.title h1 {
  color: var(--red-color);
  margin-top: 10px;
  font-size: 32px;
}
.title h1::after {
  content: "";
  width: 6%;
  height: 3px;
  background-color: var(--red-color);
  display: block;
  /* padding-top: 2px; */
  margin-top: 6px;
}
.services {
  width: 80%;
  gap: 40px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.skill .box {
  box-shadow: 0 0 2px #4751ad;
  margin-bottom: 15px;
  color: white;
  padding: 20px;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(40, 43, 69);
}
.skill .box h4 {
  margin-bottom: 15px;
}
.skill .box img {
  width: 40px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .services {
    text-align: center;
    display: block;
  }
}
@media (max-width: 992px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
}
/*start connect */
.connect {
  padding-top: 15%;
}
.connect h1 {
  color: var(--red-color);
  font-size: 35px;
}
.connect .input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 40px;
}
.connect .input input,
textarea {
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgb(40, 43, 69);
  border: none;
  color: white;
  box-shadow: 0 0 1px rgb(0, 17, 146);
}
.connect .input input:active,
textarea:focus {
  border: 1px solid var(--red-color);
}

.connect .input input::placeholder,
textarea::placeholder {
  color: white;
}
.connect a {
  text-decoration: none;
  color: var(--body-background-color);
  padding: 10px;
  background-color: var(--red-color);
  width: fit-content;
  margin-top: 10px;
  float: right;
}
.connect a:hover {
  background-color: rgb(230, 142, 142);
}
@media (max-width: 767px) {
  .connect .input {
    text-align: center;
  }
}
footer {
  padding-top: 10%;
}
footer p {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
footer p span {
  color: var(--red-color);
}
