* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --body-background-color: #23263a;
  --red-color: #ff4a57;
}
body {
  background-color: var(--body-background-color);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  padding-top: 40px;
  z-index: 100;
  position: sticky;
  display: flex;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.containar {
  margin-left: 10%;
  margin-right: 10%;
}
header .logo {
  flex-grow: 1;
}
header .logo p {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
header .logo p span {
  color: var(--red-color);
}
header ul {
  list-style: none;
  display: flex;
  float: right;
  position: sticky;
}
header .fouces {
  color: var(--red-color);
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-right: 15px;
}
header ul li a:hover {
  color: var(--red-color);
}
header ul li:hover {
  scale: 0.9;
  transition: 0.3s;
}
.bar i {
  display: none;
}
@media (max-width: 767px) {
  header ul {
    display: none;
  }
  .bar i {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 23px;
    margin-top: 7px;
  }
}
/* Start main */
main {
  color: white;
  padding-top: 11%;
}
.welcome {
  line-height: 1.6;
  font-weight: 700;
}
.welcome h2  .name  {
  font-size: 30px;
}
main .par {
  width: 500px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .welcome h2 {
    font-size: 25px;
  }
  .welcome p {
    font-size: 15px;
  }
  main .par {
    width: 100%;
    font-size: 14px;
  }
}
.typing {
  width: 22ch;
  font-size: 45px;

  color: var(--red-color);
  animation: typing 3s steps(22) infinite,blink 0.5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}


main p {
  width: 350px;
  line-height: 1.6;
  color: gray;
}
main a {
  margin-top: 32px;
  text-decoration: none;
  color: white;
  background-color: var(--red-color);
  padding: 10px 14px;
  display: inline-block;
}
main a:hover {
  background-color: #f27d85;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page div::before {
  content: "";
  border: 2px solid var(--red-color);
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  margin-bottom: 66px;
}
.page {
  position: relative;
}
.page div:not(:last-child)::after {
  content: "";
  background-color: white;
  width: 1px;
  height: 54px;
  position: absolute;
  /* top: 28px; */
  padding: 0px;
  margin-top: -59px;
  margin-left: 11px;
}
.page .foucs::before {
  content: "";
  background-color: var(--red-color);
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  margin-bottom: 66px;
}
/* End main */
.skill {
  padding-top: 13%;
}
.title {
  color: white;
}
.title h1 {
  color: var(--red-color);
  margin-top: 10px;
  font-size: 32px;
}
.title h1::after {
  content: "";
  width: 6%;
  height: 3px;
  background-color: var(--red-color);
  display: block;
  /* padding-top: 2px; */
  margin-top: 6px;
}
.services {
  width: 80%;
  gap: 40px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.skill .box {
  box-shadow: 0 0 2px #4751ad;
  margin-bottom: 15px;
  color: white;
  padding: 20px;
  line-height: 1.6;
  font-weight: 300;
  background-color: rgb(40, 43, 69);
}
.skill .box h4 {
  margin-bottom: 15px;

  font-size: 18px;
}
.skill .box img {
  width: 40px;
  margin-bottom: 15px;
}
.skill .box i {
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--red-color);
}
@media (max-width: 767px) {
  .services {
    text-align: center;
    display: block;
  }
}
@media (max-width: 992px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
}
/* Start About */
.about{
  padding-top: 13%;
}
.about h2{
  color: var(--red-color);
  font-size: 30px;
}
.about h2::after{
  content: "";
 width: 6%;
  height: 3px;
  background-color: var(--red-color);
  display: block;
  /* padding-top: 2px; */
  margin-top: 6px;
}
.about section{
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}
.summerly {

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 1.6;
  padding-top: 15px;
  align-items: flex-start;
}
.summerly .text {
  width: 50%;
  font-size: 15px;
  padding-top: 20px;
}
.rate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
     flex: auto;
     text-align: center;
  /* margin-left: 63px; */
  gap: 10px;

}

.rate i {
  text-align: center;
  font-size: 30px;
  color: var(--red-color);
  margin-bottom: 20px;
}
.rate h3 {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 18px;

}
.rate p {
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 5px;
}
.rate .box {
  padding: 20px;
  margin-left: 25px;
padding-top: 10px;
background-color: rgb(40, 43, 69);
}
@media (max-width:767px) {
  .summerly .text {
    padding-top: 10px;
   width: auto;
    text-align: start;
    margin-right: 20px;
  }
  .summerly {
    flex-direction: column;
  }
  .rate{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    /* width: 100%; */
  }
}
@media (max-width:440px) {
  .rate{ 
    margin-top: 20px;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
/* Start apply  */
.apply{
  padding-top: 13%;
}
.apply section {
  display: flex;
  justify-content: space-between;
  padding: 10px !important;
}
.apply h2{
  color: var(--red-color);
  font-size: 30px;
}
.apply h2::after{
  content: "";
 width: 20%;
  height: 3px;
  background-color: var(--red-color);
  display: block;
  /* padding-top: 2px; */
  margin-top: 6px;
}
.apply  .text{
  max-width: 60%;
  color: white;
  line-height: 1.6;
  padding-top: 50px;
}
@media (max-width:767px) {
  .apply  .text{
    max-width: 100%;
    text-align: start;
    margin-right: 20px;
  }
  
}
/*start connect */
.connect {
  padding-top: 13%;
}
.connect h1 {
  color: var(--red-color);
  font-size: 35px;
}
.connect .input {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 40px;
}
.connect .input input,
textarea {
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgb(40, 43, 69);
  border: none;
  color: white;
  box-shadow: 0 0 1px rgb(0, 17, 146);
}
.connect .input input:active,
textarea:focus {
  border: 1px solid var(--red-color);
}

.connect .input input::placeholder,
textarea::placeholder {
  color: white;
}
.connect .connected {
  text-decoration: none;
  color: var(--body-background-color);
  padding: 10px;
  background-color: var(--red-color);
  width: fit-content;
  margin-top: 10px;
  float: right;
}

.connect .social{
margin-top: 50px;
}
.connect .social a{
  text-decoration: none;
margin-left: 18px;
font-size: 25px;
text-align: center;
padding: 10px;
color 
:white;
border-radius: 50%;
font-weight: bolder;
background-color: rgb(39, 42, 77);
}
.connect .social a i{
  margin-left: 4px;
}
.connect .social a:hover{
  background-color: var(--red-color);
}

.connect input a:hover {
  background-color: rgb(230, 142, 142);
}
@media (max-width: 767px) {
  .connect .input {
    text-align: center;
    width: 100%;
  }
}
footer {
  padding-top: 10%;
}
footer p {
  text-align: center;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}
footer p span {
  color: var(--red-color);
}
